<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="enrico icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }} /"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enrico's Sentiment Analysis</title>
    <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Enrico's Machine Learning</h1>
        </div>
        <div class="topnav">
            <a href="/dev">Home</a>
            <a href="/dev/ic">Bitcoin</a>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <small>©2019 Enrico Zanardo</small>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/image_classifier.js') }}" type="text/javascript"></script>
    </footer>
</body>
</html>